/*
 * Main css file containing all custom css classes and modifications which are
 * not part of Bootstrap or jQuery but only belong to ODS.
 */

 /* 60px to make the bootstrap container go all the way to the bottom of the topbar */
body {
    padding-top: 65px;
}

/* less spacing between booptstrap form rows */
.form-horizontal .control-group {
    margin-bottom: 10px;
}

/* rounded corners on any element. */
.rounded {
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

.gravatar {
    height: 22px;
    float:left;
    display:inline;
    margin: 0px 10px 0px 10px;
}

.footer {
    text-align:right;
}

.navbar-inner {
    background-color:white;
    background-image:none;
    color:white;
}

.navbar {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

#navheader {
    background-color:white;
    background-repeat:no-repeat;
    height:65px;
}

#header-left {
    background-image:url(../img/banner.png);
    background-repeat:no-repeat;
    height:60px;
}

#header-right {
    background-image:url(../img/banner-right.png);
    background-repeat:no-repeat;
    background-position:right;
    height:60px;
}

header .container {
    height: 60px;
    line-height: 60px;
    font-size: 150%;
    font-weight: bold;
    color: #049cdb;
}


/* Some Boostrap modifications to save real-estate */
.well {
  padding: 5px 15px;
}

h3 {
  font-size: 18px;
  line-height: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

form {
  margin: 0;
}

.form-actions {
  margin-bottom: 0;
}
